html,
body {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
}
nav {
	font-weight: bold;
	line-height: 26px;
}
h2 {
	font-size: 21px;
	line-height: 21px;
}
h2.hotel-name {
	line-height: 26px;
}
.hotel-param {
	color: #fff;
}